<p style="font-size: 14pt"><%= simple_format(@message) %></p>

<div style="
  font-size: 14pt;
">
<p>九덢잺
You have <strong style="color: #005FFE"><%= @todays_list.length %> Pyn<% if @todays_list.length != 1 %>s<% end %></strong> in <strong>Today's list</strong>:</p>
<% if @todays_list.length > 0 %>
  <ul>
  <% @todays_list.each do |pyn| %>
    <li>
      <%= pyn.description %> 
      <% if pyn.personal %>
        游
      <% end %>
      <% if pyn.priority == "low" %>
        游댱
      <% elsif pyn.priority == "medium" %>
        游린
      <% elsif pyn.priority == "high" %>
        游리
      <% end %><% if pyn.due_date != nil %> - <% if pyn.due_date < @user.time_in_user_timezone.to_date %>
        <strong><span style="color: #EB221B;">Overdue</span></strong>
      <% elsif pyn.due_date == @user.time_in_user_timezone.to_date %>
        <strong><span style="color: #FBB004;">Due Today</span></strong>
      <% elsif pyn.due_date == @user.time_in_user_timezone.to_date + 1.days %>
        <span style="color: #00C3B3;">Due Tomorrow</span>
      <% elsif pyn.due_date > @user.time_in_user_timezone.to_date %>
        <span style="color: #868DAA;">Due <%= pyn.due_date.strftime("%b %d") %></span>
      <% end %><% end %>
    </li>
  <% end %>
  </ul>
<% end %>
<% if @due_today.length > 0 %>
  <p>游늱
You also have <%= @due_today.length %> Pyn<% if @due_today.length == 1 %> that is due today but hasn't been added to your list:
    <% else %>s that are due today but haven't been added to your list:
    <% end %>
  </p>
  <ul>
  <% @due_today.each do |pyn| %>
    <li>
      <%= pyn.description %> <% if pyn.priority == "low" %>
        游댱
      <% elsif pyn.priority == "medium" %>
        游린
      <% elsif pyn.priority == "high" %>
        游리
      <% end %><% if pyn.due_date != nil %> - <% if pyn.due_date < @user.time_in_user_timezone.to_date %>
        <strong><span style="color: #EB221B;">Overdue</span></strong>
      <% elsif pyn.due_date == @user.time_in_user_timezone.to_date %>
        <strong><span style="color: #FBB004;">Due Today</span></strong>
      <% elsif pyn.due_date == @user.time_in_user_timezone.to_date + 1.days %>
        <span style="color: #00C3B3;">Due Tomorrow</span>
      <% elsif pyn.due_date > @user.time_in_user_timezone.to_date %>
        <span style="color: #868DAA;">Due <%= pyn.due_date.strftime("%b %d") %></span>
      <% end %><% end %>
    </li>
  <% end %>
  </ul>
<% end %>
<% if @overdue.length > 0 %>
  <p>游뚿
    And <%= @overdue.length %> Pyn<% if @overdue.length == 1 %> that is
    <% else %>s that are
    <% end %> <strong>overdue</strong>:
  </p>
  <ul>
  <% @overdue.each do |pyn| %>
    <li>
      <%= pyn.description %> <% if pyn.priority == "low" %>
        游댱
      <% elsif pyn.priority == "medium" %>
        游린
      <% elsif pyn.priority == "high" %>
        游리
      <% end %><% if pyn.due_date != nil %> - <% if pyn.due_date < @user.time_in_user_timezone.to_date %>
        <strong><span style="color: #EB221B;">Overdue</span></strong>
      <% elsif pyn.due_date == @user.time_in_user_timezone.to_date %>
        <strong><span style="color: #FBB004;">Due Today</span></strong>
      <% elsif pyn.due_date == @user.time_in_user_timezone.to_date + 1.days %>
        <span style="color: #00C3B3;">Due Tomorrow</span>
      <% elsif pyn.due_date > @user.time_in_user_timezone.to_date %>
        <span style="color: #868DAA;">Due <%= pyn.due_date.strftime("%b %d") %></span>
      <% end %><% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<p>Don't forget to capture and share your key activities. <strong style="color: #F38374">Add your Pyns!</strong><p>
</div>

<div style="
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px; 
  margin-bottom: 30px;
">
  <div style="
    background-color: #005FFE;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14pt;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    line-height: 120%;
    display: block;
  ">
    <a target="_blank" style="text-decoration: none; color: #FFFFFF; cursor: pointer; line-height: 19.2px" href=<%= "#{ENV["HOST_URL"]}#{@cta_url}" %>>
      <%= @cta_text %>
    </a>
  </div>
</div>
